/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

ul {
	list-style-type: none;
}

/* Accessibility
--------------------------------------------- */
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

/* Body
--------------------------------------------- */
body {
	font-family: "Roboto";
	overflow-x: hidden;
}

/* Layouts
--------------------------------------------- */

.grid {
	display: grid;
}

.grid-col-2 {
	grid-template-columns: repeat(2, 1fr);
	@media (min-width: 320px) and (max-width: 1023px) {
		grid-template-columns: 1fr;
	}
}

.grid-col-2-1 {
	grid-template-columns: 2fr 1fr;
	@media (min-width: 320px) and (max-width: 1023px) {
		grid-template-columns: 1fr;
	}
}

.grid-col-3-1 {
	grid-template-columns: 3fr 1fr;
}

.grid-col-half-auto {
	grid-template-columns: 0.5fr auto;
	@media (min-width: 1981px) {
		column-gap: 50px;
	}
	@media (min-width: 320px) and (max-width: 1023px) {
		grid-template-columns: 1fr;
	}
}

.items-center {
	align-items: center;
}

.col-gap-s {
	column-gap: 25px;
}

.col-gap-m {
	column-gap: 50px;
}

.col-gap-l {
	column-gap: 75px;
}
