#td-products {
	padding: 80px 0;
	background-color: $td_color_light_gray;
	@media (min-width: 320px) and (max-width: 1023px) {
		padding: 20px;
	}
	h2 {
		text-align: center;
		font-size: 50px;
		font-weight: 500;
		text-transform: uppercase;
		margin-bottom: 15px;
		@media (min-width: 320px) and (max-width: 1024px) {
			font-size: 30px;
		}
	}
}
.product-tabs-container {
	max-width: 900px;
	margin: auto;
}

.product-tabs-cta-wrapper {
	display: flex;
	column-gap: 25px;

	.product-tabs-cta {
		flex: 1;
	}
}

.product-tabs-cta {
	transition: all ease-in-out 150ms;
	svg,
	g,
	path {
		transition: all ease-in-out 150ms;
	}
}

.product-tab-active {
	background-color: $td_color_white;
	a {
		color: $td_color_black;
	}
	svg {
		transform: rotate(90deg);
	}
}

.product-tab-inactive {
	background-color: $td_color_black;
	a {
		color: $td_color_white;
	}
	#Ellipse_15 {
		stroke: #fff;
	}
	#Path_100 {
		fill: #fff;
	}
}

.product-slider-single-wrapper {
	background-color: $td_color_white;
	position: relative;
	@media (min-width: 320px) and (max-width: 1024px) {
		overflow: hidden;
	}
	.product-badge {
		position: absolute;
		left: 10px;
		top: 10px;
		width: 70px;
		height: 70px;
		svg {
			width: 100%;
			height: 100%;
		}
	}
}

.products-filter {
	margin-top: 30px;
	position: relative;
}

.product-single-title {
	margin-top: 25px;
}

.product-slider-single-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.products-filter-slider {
	.slick-slide {
		margin: 0 10px;
		min-height: 250px;
		box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.1);
	}
	/* the parent */
	.slick-list {
		margin: 0 -10px;
		padding-bottom: 50px;
	}
}

.product-categories-list {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid $td_color_black;
	@media (min-width: 320px) and (max-width: 1024px) {
		overflow-x: scroll;
		align-items: center;
		column-gap: 20px;
	}
	li {
		text-transform: uppercase;
		padding-bottom: 25px;
		@media (min-width: 320px) and (max-width: 1024px) {
			flex: 1;
			font-size: 16px;
		}
		a {
			padding-bottom: 25px;
			color: $td_color_black;
			@media (min-width: 320px) and (max-width: 1024px) {
				white-space: nowrap;
			}
		}
	}
}

.js-filter-item > a {
	transition: all ease-in-out 50ms;
}

.active-cat {
	font-weight: 500;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: $td_color_black;
	}
}

.inactive-cat {
	opacity: 0.5;
}

.arrows-home,
.arrows-pro {
	position: absolute;
}

.next-home,
.next-pro {
	svg {
		#Ellipse_15 {
			fill: #fff;
		}
	}
}

.next-home,
.next-pro {
	position: absolute;
	right: -120px;
	top: 25%;
	transform: translateX(-50%);
	cursor: pointer;
	transition: all ease-in-out 150ms;
}
.slick-disabled {
	opacity: 0.2;
}
.prev-home,
.prev-pro {
	position: absolute;
	left: -70px;
	top: 25%;
	transform: translateX(-50%);
	cursor: pointer;
	transition: all ease-in-out 150ms;
}
