$td_color_black: #000;
$td_color_gray: #777;
$td_color_light_gray: #e2e2e2;
$td_color_white: #fff;
$td_color_red: #ec3a7b;
$td_color_cyan: #13aec1;
$td_color_yellow: #fff353;
$td_color_orange: #f58856;
$td_color_teal: #a4d8ce;
$td_color_pink: #f5a8c9;
